{% extends "base.html" %}

{% block title %} {{ profile.first_name|add:profile.last_name }} {% endblock %}
{% block content %}
    <a href="{% url "homepage:start_page" %}">Главная</a><br>
    <a href="{% url "homepage:find_master" %}">Вернуться к поиску</a>
    <h2>{{ profile.first_name|add:profile.last_name }}</h2>
    <p>
        {{ profile.name_organization }}<br>
        {{ profile.contact_details }}<br>
        {{ profile.price }}
    </p>
    {% with profile.comments.count as total_comments %}
        <h3>{{ total_comments }} comment{{ total_comments|pluralize }}</h3>
    {% endwith %}
    {% for comment in profile.comments.all %}
        <p>
        Comment №{{ forloop.counter }}: by {{ comment.name }}{{ comment.created }}<br>
        {{ comment.body }}
        </p>
    {% endfor %}
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endblock %}
