{% extends "base.html" %}

{% block title %} START PAGE {% endblock %}
{% block content %}
<form class="form-inline mt-2 mt-md-0" style="margin-left: 625px; margin-bottom: 20px; padding-top: 40px; padding-bottom: 0%">
    <input class="form-control mr-sm-2" type="text" placeholder="Поиск:" name="search">
    <button class="btn-find btn btn-outline-warning my-2 my-sm-0" type="submit">Поиск</button>
</form>
<div class="row row-cols-1 row-cols-md-2" >
{% for person in people %}
  <div class="col mb-4">
    <div class="card mb-4 shadow-sm">
      <img src="{{ person.photo.url }}" class="card-img-top" alt="Загрузка фото">
      <div class="card-body" >
        <h5 class="card-title">{{ person.first_name}} {{person.last_name }}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Цена: {{ person.price }}</li>
            <li class="list-group-item">Организация: {{ person.name_organization }}</li>
            <li class="list-group-item">Адрес: {{ person.address }}</li>
            <li class="list-group-item"><a href="{{ person.get_absolute_url }}" class="btn btn-warning">Подробнее</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
