{% extends "base.html" %}

{% block title %} START PAGE {% endblock %}
{% block content %}
    <a href="#">Главная</a><br>
    <a href="#">Обучение</a><br>
    <a href="#">Новости</a><br>
    <a href="#">О проекте</a><br>
    {% if request.user.is_authenticated %}
        Hi {{ request.user.username }} /
        <a href="{% url "homepage:logout" %}">logout</a><br>
    {% else %}
        <a href="{% url 'homepage:login' %}">Вход</a>/<a href="#">Регистрация</a><br>
    {% endif %}
    <a href="{% url 'homepage:find_master' %}">Поиск мастера</a><br>
{% endblock %}
