{% extends "base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
<div class="container container-register">
    <div class="row">
        <div class="col-12" style="padding-left: 30%; padding-right: 30%;">
            <h3 class="text-center">Изменение пароля</h3>
            <form action="." method="post" style="margin-top:20px">
                {% csrf_token %}
                <div class="col-xs-12">
                    <div class="form-group">
                         <p><label for='{{ form.old_password }}'></label>
                            <input type="password" class="form-control"  placeholder="Старый пароль" name="old_password"/></p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                         <p><label for='{{ form.new_password1 }}'></label>
                            <input type="password" class="form-control"  placeholder="Новый пароль" name="new_password1"/></p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                         <p><label for='{{ form.new_password2 }}'></label>
                            <input type="password" class="form-control"  placeholder="Подтверждение нового пароля:" name="new_password2"/></p>
                    </div>
                </div>
                <div class="text-center col-xs-12">
                    <input type="submit" class="btn btn-lg btn-warning btn-block" value="Изменить" />
                </div>
            </form>
            <p>1. Пароль не должен быть слишком похож на другую вашу личную информацию.<br>
2. Ваш пароль должен содержать как минимум 8 символов.<br>
3. Такой пароль часто используется.<br>
4. Пароль не может состоять только из цифр.</p>
        </div>
    </div>
</div>
{% endblock %}
