{% extends "base.html" %}

{% block title %}Registration confirmation{% endblock %}
{% block content %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center col-12 mr-1">
                <h1>Пароль успешно изменен</h1>
            </div><br>
            <div class="text-center col-xs-12 mr-1">
                <a class="btn btn-lg btn-warning btn-block" href="{% url 'homepage:start_page' %}">На главную</a>
            </div>
            <div class="text-center col-xs-12">
                <a class="btn btn-lg btn-warning btn-block" href="{% url "homepage:edit" %}">Редактировать профиль</a>
            </div>
        </div>
    </div>

{% endblock %}